/*

Fonts

 For body -
    font-family: 'Lato', sans-serif;

 For Headings - 
    font-family: 'Montserrat', sans-serif;

Color pallete :

Links - 
#005c83 - inside body
#3decff - in footer
*/

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header{
   position: relative;
   top:0;
   left: 0;
   width: 100vw;
   padding: 3% 0;
    background-image: linear-gradient(120deg, #0085be 10%, #005c83 100%);
    display: flex;
    color: #fff;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.header h1{
    margin-bottom: -5%; 
}

.header-img{
    width:60%;
}

.subheader{
    color: #9af5ff;
}

a{
    color:  #005c83;
    text-decoration: none;
}

a:hover{
    /*color: #b116c9 ;*/
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 3px;
}

.content{
    display: flex;
    justify-content: center;
    height: 90vh;
    line-height: 1.5em;
}

.content-item:first-child{
    padding: 3% 1% 10% 10%;
    height: 60vh;
}

.content-item:nth-child(2){
    padding: 5% 10% 10% 1%;
}

.content-header{
    color: #005c83
}
.demo-image{
   width: 120%;
   -webkit-box-shadow: 10px 10px 20px 0px rgba(158,155,158,1);
-moz-box-shadow: 10px 10px 20px 0px rgba(158,155,158,1);
box-shadow: 10px 10px 20px 0px rgba(158,155,158,1);
}

.slack-link{
    text-decoration: none;
}

.slack-link:hover{
    text-decoration: none;
}

#use{
height: 70vh;
background-color: #DFF6FF;
}

code{
        background-color:  #005c83;
        color: #fff;
        padding: 0.7%;
        border-radius: 5px;
}
footer{
    position: relative;
    bottom:0;
    left: 0;
    width: 100vw;
    color: #005c83;
    text-align: center;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);

}

footer a {
   color: #3decff;
}